<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Aucun Devis Trouvé</title>
</head>
<body>
    <h1>Pas de devis trouvé</h1>
    <p>Aucun devis non payé n'a été trouvé pour le Device ID suivant : <strong><%= deviceID %></strong></p>
</body>
</html>
